# Default reviewers for every change. A pull request requests a review from these owners.
# https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @TheKAdhikari
